.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.spanText {
  font-weight: normal;
}

.welcomeText {
  max-width: 700px;
}

.signUpText {
  font-size: x-small;
}

.signUpLink {
  font-weight: bold;
  text-decoration: underline;
}