.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin: -6px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #b0b0b0;
}

.toggleButton:hover {
  color: #808080;
}
