.myDiscussionsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.myDiscussionsDivisor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
