.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: 1px solid #c8c8c8;
  background: #ffffff;
  color: #222222;
  font-size: 13px;
  width: fit-content;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.buttonContainer:not(:disabled):hover {
  background: #f2f2f2;
  border-color: #9d9d9d;
  transition: 0.1s;
}

.buttonContainer:disabled {
  color: #6d6d6d;
  background: #f6f6f6;
  border-color: #dddddd;
  cursor: not-allowed;
}

.active {
  background: #000000;
  border-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.active:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s;
}
