.postTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonContent {
  display: flex;
  gap: 10px;
}

.favouritesStats {
  gap: 4px;
  display: flex;
  p {
    font-weight: bold;
  }
}

.shortActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.postTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
